<div class="header">
  <ul class="nav nav-pills pull-left">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/library">WOD Library</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
</div>

<div class="jumbotron">
	<div class="wodLibrary">
		<h2>WOD Library</h2>             
	</div>
</div>

<div class="newWod">
    <a class="btn btn-default btn-lg" id="submitButton" ng-href="#/newWod">Create WOD</a>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <article ng-repeat="(index, wod) in wods">
          <h4>{{wod.title}}</h4>
          <p>{{wod.content}}</p>
          <p class="small"><a href="" ng-click="removeWod(index)">Remove</a></p>  
        </article>
    </div>
</div>

<div class="footer">
    <p>My Box, Inc.</p>
</div>
