<div class="header">
  <ul class="nav nav-pills pull-left">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
</div>

<div class="jumbotron">
    <div class="titleName"><h1>My Box</h1></div>
    <p class="lead">Press 'WOD' button to generate random workout</p>
    <p><a class="btn btn-lg btn-default" id="randomButton">WOD</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <div class="randomWod">
            <!--Random WOD generates here-->
        </div>
    </div>
</div>

<div class="footer">
    <p class="inc"><span></span> Random WOD, Inc.</p>
</div>


