<div class="header">
  <ul class="nav nav-pills pull-left">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li class="active"><a ng-href="#/map">Box Locator</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
</div>

<div class="jumbotron">
	<h2 class="mapHeader">Locate a Box near you</h2>
</div>

<div class="row marketing"></div>

<div class="footer">
    <p>My Box, Inc.</p>
</div>