<div class="header">
  <ul class="nav nav-pills pull-left">
    <h1 class="myBox">My Box</h1>
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
</div>
<div class="jumbotron">
    <div class="pageTitle">
        <h2 class="titleName">Add New WOD below</h2>            
    </div>
</div>

<!-- <div class="row marketing" id="newWodForm" class="flex-container">
    <form class="form-inline" role="form" novalidate ng-submit="addItem()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="addItem.title" placeholder="WOD Title">
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" ng-model="addItem.content" id="wodTextArea" placeholder="WOD Description">
            </textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Add WOD</button>
    </form> 
</div> -->

<div class="row marketing" id="newWodForm" class="flex-container">
    <form class="form-inline" role="form" novalidate ng-submit="addWod()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newWod.title" placeholder="WOD Title">
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" ng-model="newWod.content" id="wodTextArea" placeholder="WOD Description">
            </textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Add WOD</button>
    </form> 
</div>

<div class="footer">
    <p>My Box, Inc.</p>
</div>

    