<div class="header">
  <ul class="nav nav-pills">
    <h1 class="myBox">My Box</h1>
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/random">Random WOD</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
</div>

<div class="jumbotron">
  <div class="pageTitle">
    <h2 class="titleName">Update WOD</h2>
  </div>
</div>

<div class="row marketing" id="wodForm">
    <form class="form-inline" role="form" novalidate ng-submit="updateWod(wod)">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="wod.title" value="wod.title">
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" ng-model="wod.content" id="wodTextArea" value="wod.content">
            </textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Update</button>
    </form> 
</div>

<div class="footer">
    <p>My Box, Inc.</p>
</div>